main {
  flex-grow: 1;
}
.main__general {
  display: flex;
  margin-top: 7.2rem;
  justify-content: space-between;
}

.main__middle {
}

.main__top {
  display: flex;
}
.main__top__list {
  justify-content: space-between;
  margin-bottom: 30px;

  li {
    margin-bottom: 30px;
  }
}
.main__top__item {
  margin-bottom: 30px;
}

.main__h3 {
  color: $white-color;
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.5px;
}
.main__p {
  color: $white-color;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.main__button__h2 {
  color: $white-color;
  font-family: Space Grotesk;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -2.5px;
}

.main__button__p {
  color: $light-white-color;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.main__button__input {
  display: flex;
}

.main__projects {
  margin-top: 140px;
}
//

//
.box {
  height: 400px;
  width: 540px;
  background-image: url(../../images/image_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../../images/image_1.png);
  background-size: cover;
}
.box__links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4.8rem;
  display: none;

  a {
    color: $white-color;
    text-decoration: none;
    position: relative;
  }
  a:after {
    display: inline-block;
    content: "";
    width: 0%;
    position: absolute;
    height: 2px;
    background-color: $green-color;
    bottom: -1rem;
    left: 0;
    transition: 0.3s;
  }
  a:hover {
    color: $green-color;
  }

  a:hover::after {
    width: 100%;
  }
}

.box:hover .box__links {
  display: flex;
}
